# Data Science Tools and Ecosystem

## Author: Liam Tremblay

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* Identify popular data science languages
* Identify commonly used data science libraries
* Outline chart design functions in Jupyter Notebook
* Arithmetic expression using Python

Some of the popular languages that data scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers:

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60:

In [4]:
200/60

3.3333333333333335